{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


<div class="container-fluid">
    <div class="row md">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="content-bookmark-form">
            <form action="" method="post" id="center"> {% csrf_token %}
    <div>
        {{ form.title.label_tag }} {{ form.title }}
    </div>
    <div>
        {{ form.url.label_tag }} {{form.url}}
    </div>
    <div id="hidden">
        <button type="submit"> CREATE/UPDATE </button>
        <br>to submit, click this button
        </div>


</form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}