{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid">
 <div class="row md">
  <div class="col-md-4"></div>
  <div class="col-md-4"><div id="block-content5">
    <h1>LOG OUT Complete</h1>
    <p> Redirecting in 3 seconds... </p>

    <meta http-equiv="refresh" content="3; url={% url 'index' %}" />
    <br>
    <div class="spinner-border"></div>

    <script>
        let cnt = 3;
        const p = document.querySelector('p');

        function upd_text(){
            if (cnt > 1){
                cnt = cnt - 1;
                p.innerText = ` Redirecting in ${cnt} seconds... `;
            }
        }

        setInterval(upd_text,1000);
    </script>
    </div></div>
  <div class="col-md-4"></div>

  </div>
</div>
{% endblock content %}
