{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}



<div class="container-fluid">
    <div class="row md">
        <div class="col-md-4"></div>
        <div class="col-md-4" id="content-post-form">
            <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div id="center">
                    <div class="row md">
                <div class="col-md-6">{{ form.title.label_tag }}</div>
                <div class="col-md-6">{{ form.title }}</div>
            </div>
                        <div class="row md">
                <div class="col-md-6">{{ form.image.label_tag }}</div>
                <div class="col-md-6">{{form.image}}</div>
            </div>
                        <div class="row md">
                <div class="col-md-6">{{ form.description.label_tag }}</div>
                <div class="col-md-6">{{ form.description }}</div>
            </div>


        <div id="hidden">
            <button type="submit"> CREATE/UPDATE </button>
            <br>to submit, click this button
        </div>
    </div>
</form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock content %}